* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * AB_scroll_to_top
 * version: 1.0.0
 */
button#scrollTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0;
  border: none;
  opacity: 0.85;
}

body {
  padding: 20px 35px;
  font-family: sans-serif;
}